In [1]:
num1 = 5
num2 = 10

In [2]:
num1

5

In [3]:
num1 + num2

15

In [4]:
print(num1+num2)

15

In [5]:
num1 - num2

-5

In [6]:
print(num2 + num1)#+ Addition Operator

15

In [7]:
print(num2 - num1)# - Subtraction Operation

5

In [8]:
print(num1 * num2) # * Multiplication Operation

50

In [9]:
print(num2/num1) # / Division Operator

2.0

In [10]:
print(num2 // num1) # // Back slash provides the whole number after a division

2

In [11]:
print(num2 % num1) # % Modulus Operator

0

In [12]:
print(num1**2) # ** Exponetial (raise to power) Operator

25

In [13]:
x,y= 2,5
print(x)

2

In [14]:
print(y)

5

In [15]:
print(x<y) # < Less than Operator

True

In [16]:
print(x>y)

False

In [17]:
print(x>y) # > Greater than Operator

False

In [18]:
print(x==y) # == Equal to Operator

False

In [19]:
print(x !=y) # != Not equal to Operator

True

In [20]:
print(x<=y) # <= less than or equal to Operator

True

In [21]:
print(x>=y) # >= Greater than or equal to Operator

False

In [22]:
print(x<y and x<y) # Logical Operator "AND" shows that all statement is ture

True

In [23]:
print(x<y and y<x)

False

In [24]:
print(x<y or y<x) # Logical Operator "OR" shows that one statement is ture

True

In [25]:
print(not y) #Logical Operator "NOT" shows that one statement is ture but comes back as false if both statements are false

False

In [26]:
x1 = 5
x2 = 8
y1 = 'Hope'
y2 = 5
print(x1 is x2)

False

In [27]:
print(x2 is y2) # Identity Operator "IS" and "IS NOT"

False

In [28]:
print(x1 is not y2)

False

In [29]:
print(y1 is x2)

False

In [30]:
print(x1 is y1)

False

In [31]:
word = 'welcome to the world of python'
print('world' in word)

True

In [32]:
print('world' not in word) # Membership Operator checks the words or valus present in a statement"IN or NOT IN"

False

In [33]:
firstname = input('enter first name: ')

enter first name: Jane

In [34]:
Firstname = input('Enter first name:')

Enter first name:Jane

In [35]:
age = int(input('Enter your age:'))

Enter your age:32

In [36]:
type(age)

int

In [37]:
x = 2021

In [38]:
age = int(input('Enter your year of birth'))

Enter your year of birth1998

In [39]:
age = int(input('Enter year of birth: '))

Enter year of birth: 1998

In [40]:
print(x - age)

23

In [41]:
DOB = int(input('Enter year of birth:'))
age = 2021 - DOB
print('Your current age', age)

Enter year of birth:1998
Your current age 23

In [42]:
Name = input('Enter Full Name: ')

Enter Full Name: Jane Wilson

In [44]:
 age = input('Age: ')

Age: 27

In [45]:
gender = input('Gender: ')

Gender: Female

In [46]:
course = input('Course: ')

Course: Python Programming

In [47]:
contact = input('Phnone Number:')

Phnone Number: 07087777367

mail = input(Email Address: ')

In [48]:
mail = input('Email Address: ')

Email Address: janejohn@gmail.com

In [49]:
address = input('Home Address: ')

Home Address: 62 Gado Nasko rd kubwa

In [50]:
Name = input('Enter Full Name: ')
age = input('Age: ')
gender = input('Gender: ')
course = input('Course: ')
course = input('Course: ')
contact = input('Phnone Number:')
mail = input('Email Address: ')
address = input('Home Address: ')

Enter Full Name: Jane John
Age: 27
Gender: Female
Course: Python programming
Course: Python programming
Phnone Number:07087777367
Email Address: 62 gado nasko road
Home Address: 62 gado nasko rd

In [1]:
print("This sentence is output to the screen")

This sentence is output to the screen

In [2]:
print('First line \n \n')
print('Second line')

First line


Second line

In [3]:
name = input('Enter name: ')

Enter name: Jane

In [6]:
print('Hello', name)

Hello Jane

In [7]:
num_integer = 123
num_float = 1.23
sum = num_integer + num_float 
print(sum)

124.23

In [8]:
type(sum)

float

In [9]:
print('data type of sum', type(sum))

data type of sum <class 'float'>

In [11]:
a = '555'
print('type of a', type(a))

type of a <class 'str'>

In [12]:
a = '55'
integer_num = int(a)
float_num = float(a)
print('integer_num:', integer_num)
print('float_num:', float_num)

integer_num: 55
float_num: 55.0

In [13]:
a = 80
b = 80.59
str_a = str(a)
str_b = str(b)
print(str_a)
print(type(str_a))
print(str_b)
print(type(str_b))

80
<class 'str'>
80.59
<class 'str'>